table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.Modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: -50%;
    transform: translate(-50%, -50%)
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
}

.board-card {
    width: 120px;
    height: 200px;
    border: solid #a92731 4px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 10px 20px 20px grey;
    padding: 10px;
    margin: 20px;
}

.board-card>.category {
    color: #0a0a0a;
}

.board-card>.subject {
    color: #0a0a0a;
}

.category>.category-icon {
    width: 20px;
    height: 20px;
    float: left;
}
.category>.category-title {
    text-align: center;
}

.subject>.subject-body {
}
.subject>.subject-footer {
    height: 20px;
    text-align: center;
}