table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
}

.Modal {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: -50%;
    transform: translate(-50%, -50%)
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rebeccapurple;
}

.board-card-frame {
    width: 120px;
    height: 200px;
    border: solid #6d4b41 2px;
    border-radius: 5px;
    box-shadow: 10px 20px 20px grey;
    margin: 20px;
}

.board-card {
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.75);
    padding: 10px;
    height: 180px;
    font-family: Calibri;
    font-weight: bold;
}

.board-card disabled {
    box-shadow: inset 0px 0px 110px rgba(0, 0, 0, 0.9);
    background-color: #959595;
}

.board-card>.category {
    color: #0a0a0a;
}

.board-card>.subject {
    color: #0a0a0a;
}

.category>.category-icon {
    width: 20px;
    height: 20px;
    float: left;
}
.category>.category-title {
    text-align: center;
}

.subject>.subject-body {
    margin-top: 10px;
}

.subject>.subject-footer {
    height: 20px;
    text-align: center;
}


/* Faton*/
.category-icon-choice {
    float: left;
    padding-right: 30px;
}

.board-card-min {
    float: left;
}

